*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --color1: #ffffff ;
    --color2: #000000 ;
}

#all{
    background-color: darkgreen;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.de{
    margin-top: 30px;
   font-size: 35px;
   margin-left: 100px;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   cursor: pointer;
}
.all2{
    display: flex;
    margin-top: 40px;
    margin-left: 30%;
    gap: 35px;
}
.all2 li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .30s ease;
}
.all2 li a:hover{
    color: rgba(104, 7, 230, 0);
}
.btn{
    border: none;
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    margin-top: 25px;
    margin-left: 50px;
    font-size: 15px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    transition: all .30s ease;
}
.btn:hover{
    background-color: rgb(255, 255, 255);
    color: green;
}
#btnn{
    border: none;
    margin-bottom: 4px;
    background-color: darkgreen;
    text-transform: capitalize;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    transition: all .30s ease;
}
.dropdown_menu{
    display: none;
}
.open{
    display: block;
    position: absolute;
    background-color: darkgreen;
    top: 13.1%;
    left: 72%;
}
.dropdown_menu ul li{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 10px;
    margin-bottom: 9px;
}
.dropdown_menu ul li a{
    color: white;
}
#sec{
    background: url(https://thumbs.dreamstime.com/b/green-agriculture-field-tomatoes-blue-sky-green-agriculture-field-tomatoes-blue-sky-clouds-125693663.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 90vh;
}
h3{
    text-shadow: 2.5px 2.5px black;
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 50%;
    left: 35%;
    color: white;
    font-size: 35px;
    width: 35%;
}
.btn2{
    position: relative;
    border: none;
    background-color: rgb(255, 255, 255);
    top: 55%;
    left: 46%;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
#service{
    height: 80vh;
}
.😁{
    text-shadow: none;
    margin-top: 50px;
    color: black;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.one{
    height: 45vh;
    width: 400px;
    margin-right: 30px;
}
.three{
    height: 45vh;
    width: 400px;
}
.all{
    margin-top: 70px;
    margin-left:50px;
}

#about{
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
}
.abt{
    margin-top: 125px;
    width: 60%;
    margin-left: 100px;
}
.btn3{
    position: relative;
    border: none;
    background-color: rgb(255, 255, 255);
    top: 10%;
    left: 1%;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}

h4{
    font-size: 65px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.ig{
    margin-top: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-right: 100px;
}
.dent{
    color: rgba(255, 255, 255, 0.551);
    font-size: 16px;
    line-height: 35px;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 70vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.261);
}
.ck{
    display: flex;
    flex-direction: row;
}
.ck2{
    width: 45%;
    margin-top: 100px;
    margin-left: 70px;
}
.st{
    font-size: 27px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
}
#ema{
    font-weight: bolder;
    padding: .75em;
    width: 100%;
    height: 7vh;
    border-width: 1px;
    color: green;
    border-radius: 3px;
}
#ema::placeholder{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.741);
}
#sub{
    margin-top: 30px;
    border: none;
    padding: 15px 25px;
    background-color: white;
    color: darkgreen;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}

.ck3{
    margin-left: 15%;
    margin-top: 100px;
}
.cont{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-left: 35%;
    margin-bottom: 25px;
}
.add{
    margin-left: 35%;
    font-size: 17px;
    margin-right: 8%;
    text-transform: capitalize;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
}
.cal{
    margin-left: 35%;    color: darkgreen;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 17px;
    transition: all .5s ease;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
}
.ca{
   position: relative;
   top: 10%;
   left: 35%;
   transition: all .5s ease;
   color: darkgreen;
}
.ca2{
   position: relative;
   top: 25%;
   left: -9%;
   transition: all .5s ease;
   color: darkgreen;
}
.ca:hover{
    color: green;
}

/* Last */
.last{
    background-color: black;
    color: rgba(255, 255, 255, 0.468);
    height: 15vh;
    width: 100%;
}
.cop{
    padding-top: 50px;
    margin-left: 70px;
    font-size: 15px;
    text-transform: capitalize;

}

@media only screen and (max-width: 700px){
  html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .de{
    margin-top: 30px;
   font-size: 25px;
   margin-left: 15px;
   text-transform: capitalize;
   color: rgb(255, 255, 255);
   cursor: pointer;
   display: none;
}
.all2{
    display: flex;
    margin-top: 40px;
    margin-left: 14%;
    gap: 25px;
    margin-bottom: 10px;
}
.all2 li a{
    color: rgb(255, 255, 255);
    font-size: 22px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .30s ease;
}
.all2 li a:hover{
    color: green;
} 
.open{
    display: block;
    position: fixed;
    background-color: darkgreen;
    top: 15.1%;
    left: 40%;
}
.dropdown_menu ul li{
    width: 100%;
    padding-left: 30px;
    padding-right: 6px;
    margin-top: 10px;
    margin-bottom: 9px;
}
.dropdown_menu ul li a{
    color: white;
}
#sec{
    background: url(https://thumbs.dreamstime.com/b/green-agriculture-field-tomatoes-blue-sky-green-agriculture-field-tomatoes-blue-sky-clouds-125693663.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-position: bottom;
}

h3{
    text-align: left;
    position: relative;
    top: 30%;
    left: 5%;
    line-height: 50px;
    color: white;
    font-size: 35px;
    width: 90%;
}
.btn2{
    position: relative;
    border: none;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 32%;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 10px;
display: none;
}
#service{
    height: 160vh;
}
.😁{
    margin-top: 50px;
    color: black;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}
.one{
    border-radius: 10px;
    height: 40vh;
    width: 275px;
}
.three{
    border-radius: 10px;
    height: 40vh;
    width: 275px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.all{
    margin-top: 70px;
    margin-left:45px;
}

#about{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    height: 200vh;
}
.abt{
    margin-top: 75px;
    width: 85%;
    margin-left: 40px;
}
h4{
    font-size: 44px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.btn3{
    position: relative;
    border: none;
    background-color: rgb(255, 255, 255);
    top: 7%;
    left: 1%;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
.ig{
    margin-top: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 40vh;
    margin-left: 32px;
    margin-bottom: 20px;
}
.dent{
    color: rgba(255, 255, 255, 0.551);
    font-size: 19px;
    line-height: 35px;
}
footer{
    background-color: rgb(0, 0, 0);
    height:110.5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.261);
}
.ck{
    display: flex;
    flex-direction: column;
}
.ck2{
    width: 70%;
    margin-top: 100px;
    margin-left: 30px;
}
.st{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
}
#ema{
    padding: .75em;
    width: 115%;
    height: 7vh;
    border-width: 1px;
    color: green;
    border-radius: 3px;
}
#ema::placeholder{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.741);
}
#sub{
    margin-top: 30px;
    border: none;
    padding: 15px 25px;
    background-color: white;
    color: darkgreen;
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

.ck3{
    margin-left: 1%;
    margin-top: 70px;
}
.cont{
    color: white;
    font-size: 30px;
    text-transform: capitalize;
    margin-left: 30px;
    margin-bottom: 25px;
}
.add{
    width: 75%;
    margin-left: 30px;
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    line-height: 30px;
    margin-bottom: 30px;
}
.cal{
    margin-left: 30px;
    color: darkgreen;
    text-decoration: none;
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 20px;
    transition: all .5s ease;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
}
.ca{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: -90px;
   transition: all .5s ease;
   color: darkgreen;
   font-size: 18px;
}
.ca:hover{
    color: green;
}
.ca2{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 70px;
   transition: all .5s ease;
   color: darkgreen;
   font-size: 18px;
}
.ca2:hover{
    color: green;
}
/* Last */
.last{
    background-color: black;
    color: rgba(255, 255, 255, 0.468);
    height: 10vh;
    width: 100%;
}
.cop{
    line-height: 20px;
    padding-top: 25px;
    margin-left: 20px;
    font-size: 12px;
    text-transform: capitalize;
}

}
/*@media only screen and (min-width: 767px) and (max-width:769px){
    html,body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    .de{
        margin-top: 40px;
       font-size: 30px;
       margin-left: 25px;
       text-transform: capitalize;
       color: rgb(255, 255, 255);
       cursor: pointer;
       display: block;
    }
    .all2{
        display: flex;
        margin-top: 45px;
        margin-left: 10%;
        gap: 45px;
        margin-bottom: 10px;
    }
    .all2 li a{
        color: rgb(255, 255, 255);
        font-size: 25px;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .30s ease;
    }
    .all2 li a:hover{
        color: green;
    }
    #sec{
        background: url(https://thumbs.dreamstime.com/b/green-agriculture-field-tomatoes-blue-sky-green-agriculture-field-tomatoes-blue-sky-clouds-125693663.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 70vh;
        background-position: bottom;
    }
    
    h3{
        text-align: center;
        position: relative;
        top: 45%;
        left: 13.9%;
        color: white;
        font-size: 45px;
        width: 75%;
    }
    .btn2{
        position: relative;
        border: none;
        background-color: rgb(255, 255, 255);
        top: 55%;
        left: 37%;
        padding: 15px 25px;
        font-size: 25px;
        font-weight: bolder;
        color: darkgreen;
        text-transform: uppercase;
        border-radius: 10px;
        text-decoration: none;
    }
    #service{
        height: 165vh;
    }
    .😁{
        margin-top: 50px;
        color: black;
        font-size: 60px;
        text-align: center;
        text-transform: uppercase;
    }
    .one{
        height: 45vh;
        width: 700px;
    }
    .three{
        height: 45vh;
        width: 700px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
.btn3{
    position: relative;
    border: none;
    background-color: rgb(255, 255, 255);
    top: 7%;
    left: 1%;
    padding: 15px 25px;
    font-size: 25px;
    font-weight: bolder;
    color: darkgreen;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
    .all{
        margin-top: 70px;
        margin-left:30px;
    }
    
#about{
    display: flex;
    flex-direction: column;
    background-color: darkgreen;
    height: 130vh;
}
.abt{
    margin-top: 75px;
    width: 85%;
    margin-left: 40px;
}
h4{
    font-size: 47px;
    color: white;
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.ig{
    margin-top: 145px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vh;
    margin-left: 40px;
    margin-bottom: 20px;
}
.dent{
    color: rgba(255, 255, 255, 0.551);
    font-size: 27px;
    line-height: 35px;
}
footer{
    background-color: rgb(0, 0, 0);
    height: 90vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.261);
}
.ck{
    display: flex;
    flex-direction: column;
}
.ck2{
    width: 70%;
    margin-top: 100px;
    margin-left: 30px;
}
.st{
    font-size: 37px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 25px;
}
#ema{
    padding: .75em;
    width: 115%;
    height: 7vh;
    border-width: 1px;
    color: green;
    border-radius: 3px;
}
#ema::placeholder{
    font-size: 27px;
    color: rgba(0, 0, 0, 0.741);
}
#sub{
    margin-top: 30px;
    border: none;
    padding: 15px 25px;
    background-color: white;
    color: darkgreen;
    letter-spacing: 2px;
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bolder;
}

.ck3{
    margin-left: 1%;
    margin-top: 70px;
}
.cont{
    color: white;
    font-size: 37px;
    text-transform: capitalize;
    margin-left: 30px;
    margin-bottom: 25px;
}
.add{
    width: 85%;
    margin-left: 30px;
    font-size: 27px;
    text-transform: capitalize;
    color: white;
    line-height: 50px;
    margin-bottom: 30px;
}
.cal{
    margin-left: 30px;
    color: darkgreen;
    text-decoration: none;
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 13px;
    padding-right: 20px;
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 27px;
    transition: all .5s ease;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 3px;
}
.ca{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: -225px;
   transition: all .5s ease;
   color: darkgreen;
   font-size: 25px;
}
.ca:hover{
    color: green;
}
.ca2{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 115px;
   transition: all .5s ease;
   color: darkgreen;
   font-size: 25px;
}
.ca2:hover{
    color: green;
}

.last{
    background-color: black;
    color: rgba(255, 255, 255, 0.468);
    height: 10vh;
    width: 100%;
}
.cop{
    line-height: 20px;
    padding-top: 35px;
    margin-left: 20px;
    font-size: 19px;
    text-transform: capitalize;
}
}*/